<div class="back-link"><%= link_to '<< Back to All Items', items_path %></div>

<% if notice %>
  <div class="alert-box success radius"><%= notice %></div>
<% end %>

  <tbody id="items">
    <%= render @item %>
  </tbody>

  <tbody id="bids">
    <%= render @bid %>
  </tbody>

</div>
<div class="small-4 columns">
</div>
