<div class="back-link"><%= link_to '<< Back to All Items', items_path %></div>

<% if notice %>
  <div class="alert-box success radius"><%= notice %></div>
<% end %>

<tbody id="items">
  <%= render partial: 'item' %>
</tbody>

<div class="small-4 columns">
</div>
